section.encontrar-boutique {
  padding-top: 209px;
  padding-bottom: 209px;
  background-image: url("../../arquivos/ImgFundoBoutique.jpg");
  background-repeat: no-repeat;
  .content {
    max-width: 384px;
    background-color: #ffffff;
    font-family: $fonte01;
    text-align: center;
    padding: 47px 52px 12px;
    h1 {
      font-size: 22px;
      line-height: 32px;
      letter-spacing: 0.02em;
      margin-bottom: 25px;
    }
    .boutique-inputs {
      display: flex;
      flex-direction: column;
      max-width: 280px;
      margin: 0 auto;
      position: relative;
      .boutique-select {
        position: relative;
      }
      .boutique-select:nth-child(3) {
        margin-bottom: 30px;
      }
      .boutique-select::after {
        content: "\f078";
        font-family: "FontAwesome";
        position: absolute;
        font-size: 18px;
        right: 16px;
        top: 16px;
        pointer-events: none;
      }
      select {
        margin-bottom: 14px;
        width: 100%;
        height: 50px;
        padding-left: 21px;
        color: #202020;
        font-size: 15px;
        letter-spacing: 0.02em;
        border: 1px solid #d2d2d2;
        box-sizing: border-box;
      }
      select {
        -webkit-appearance: none;
        cursor: pointer;
      }
      #countBusca {
        display: none;
      }
    }
    #btnBuscar {
      margin: 31px auto 0;
      height: 50px;
      width: 280px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #202020;
      border: none;
      cursor: pointer;
    }
    #errorPreenchimento {
      font-family: $fonte01;
      height: 25px;
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: red;
      font-size: 15px;
    }
  }
}

.boutique-input {
  display: flex;
  margin-top: 31px;
  position: relative;
  input {
    display: none;
  }
  input[type="radio"] + label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    bottom: 0;
    border: solid 2px #d2d2d2;
    vertical-align: bottom;
    box-sizing: border-box;
    border-radius: 100%;
  }
  input[type="radio"]:checked + label::before {
    border: solid 2px #202020;
  }
  input[type="radio"]:checked + label::after {
    content: "";
    position: absolute;
    left: 7px;
    bottom: 7px;
    width: 4px;
    height: 7px;
    border-right: solid 2px #202020;
    border-bottom: solid 2px #202020;
    transform: rotate(45deg);
  }
  label {
    color: #202020;
    font-size: 14px;
    letter-spacing: 0.02em;
    height: 17px;
    display: flex;
    align-items: center;
    margin-left: 40px;
    cursor: pointer;
  }
  .lojas-oficiais.disabled,
  .vendedores.disabled {
    color: #d2d2d2;
    cursor: not-allowed;
  }
}

section.map {
  margin: 0 auto;
  margin-top: 158px;
  display: none;
  .content {
    height: 860px;
    position: relative;
    #map_canvas {
      height: 100%;
    }
    .enderecos {
      font-family: $fonte01;
      color: #202020;
      letter-spacing: 0.02em;
      position: absolute;
      top: 60px;
      left: 96px;
      background-color: #ffffff;
      width: 384px;
      height: 85%;
      box-sizing: border-box;
      .title {
        padding: 30px 30px 0 30px;
        display: flex;
        align-items: center;
        position: relative;
        #link-voltar {
          display: flex;
          align-items: center;
          max-width: max-content;
          margin-right: 40px;
          z-index: 1;
          cursor: pointer;
          i {
            font-size: 20px;
            margin-right: 15px;
            cursor: pointer;
          }
          span {
            font-size: 12px;
            text-decoration: underline;
            margin-right: 20px;
            cursor: pointer;
          }
        }
        #topo-title {
          position: absolute;
          width: 324px;
          text-align: center;
        }
      }
    }
    form {
      border-bottom: 1px solid #d2d2d2;
      .boutique-inputs {
        padding: 0 30px;
        #pais,
        #cidade {
          display: none;
        }
        #countBusca {
          display: block;
          margin-top: 35px;
          font-size: 13px;
          margin: 35px 0 15px;
        }
      }
      #btnBuscar,
      #errorPreenchimento {
        display: none;
      }
    }
    .main {
      margin: 20px 20px 0 30px;
      overflow-x: hidden;
      height: 480px;
      .enderecosText {
        padding-bottom: 20px;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 27px;
        color: #444444;
        border-bottom: 1px solid #d2d2d2;
        h1 {
          font-weight: bold;
        }
        h2 span {
          text-decoration: underline;
          margin-left: 5px;
        }
        .time-open {
          margin-top: 15px;
          display: none;
        }
        .maisInformacoes {
          margin-top: 10px;
          font-weight: bold;
          color: #202020;
          cursor: pointer;
          display: flex;
          align-items: center;
          i {
            margin-left: 10px;
            font-size: 15px;
          }
          i.active {
            display: none;
          }
        }
        .maisInformacoes.disabled {
            display: none;
        }
      }
    }
    .main::-webkit-scrollbar {
      width: 13px;
    }
    .main::-webkit-scrollbar-thumb {
      background: #444;
    }
    .main::-webkit-scrollbar-track {
      background: #d2d2d2;
    }
  }
}
