@media (min-width: 1200px) {
  body {
    padding-top: 0px;
  }
  .container {
    width: 1190px;
  }
  .container-cart,
  .container-order-form {
    width: 1190px;
    margin-top: 40px;
  }

}
body.body-cart {
    background: #F2F2F2;
  	font-family: "Montblanc Type";
}
#cartLoadedDiv {
    width: 100%;
    background: #FFFFFF;
    padding: 12px 30px;
  	height: max-content;
}
#cartLoadedDiv .shipping-date {
	display: none;
}
h1#cart-title {
    display: none !important;
}
.cart {
  	border: 0;
  	border-radius: unset;
    -moz-border-radius: unset;
    -webkit-border-radius: unset;
  	margin-bottom: 0px;
  	max-width: 787px;
}
.product-image img {
    color: transparent;
    height: 80px;
    max-width: 80px;
    width: 80px;
}
form.product-service {
    display: none;
}
.cart-items .product-name {
    width: 160px;
    font-size: 14px;
    line-height: 20px;
}
.cart-items .product-name a {
    color: #202020;
}
table.table.cart-items th {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #202020 !important;
    font-weight: 100;
}
table.table.cart-items tbody tr {
    height: 140px;
  	border-top: 1px solid #D2D2D2;
}
span.new-product-price,
span.total-selling-price{
    font-size: 16px;
    color: #202020;
    letter-spacing: 0.01em;
    font-weight: 600;
}
input[type="tel"] {
    width: 48px;
    height: 42px;
    border: 2px solid #D2D2D2;
    border-radius: unset;
    font-size: 14px;
    color: #202020;
  	padding: 0;
}
i.icon.icon-minus-sign:before {
    content: "\f068";
    color: #202020;
    font-size: 12px;
}
i.icon.icon-plus-sign:before {
    content: "\f067";
    color: #202020;
    font-size: 12px;
}
.icon-remove:before {
    font-size: 16px;
    color: #202020;
}
.row-fluid.summary {
    display: flex !important;
    flex-direction: column;
}
.cart-template.full-cart.span12.active {
    display: flex;
  	justify-content: space-between;
}
.extensions-checkout-buttons-container.row-fluid {
    display: none !important;
}
.summary-template-holder {
    max-width: 383px;
    background: #FFFFFF;
    margin-left: 20px;
    padding: 30px;
    box-sizing: border-box;
}
#shipping-preview-container h2.srp-main-title {
    text-align: center;
    font-size: 18px;
    color: #202020;
}
.cart-more-options.span7 {
    width: 100% !important;
  	margin-left: 0;
}
form.srp-postal-code__form.dib.relative {
    width: 100%;
  	border-bottom: 1px solid #D2D2D2;
    padding-bottom: 40px;
}
.vtex-shipping-preview-0-x-postalCodeForgotten {
    position: relative;
}
button#cart-shipping-calculate {
    position: absolute;
    border: 0;
    box-shadow: unset;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
  	right: 10px;
    top: 33px;
    font-size: 35px;
    color: #202020;
}
p.input.ship-postalCode.required.text {
    width: 100%;
  	text-align: center;
  	display: flex;
    flex-direction: column;
}
p.input.ship-postalCode.required.text label {
    font-size: 16px;
    color: #444444;
  	margin-bottom: 11px;
}
input#ship-postalCode {
    width: 100%;
    height: 50px;
    border-radius: unset;
    border: 2px solid #D2D2D2;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 12px;
    color: #555555;
    font-style: italic;
    letter-spacing: 0.1em;
}
p.input.ship-postalCode.required.text small a {
    color: #000000;
    text-decoration: underline;
    font-size: 12px;
    letter-spacing: 0.02em;
}
.span5.totalizers.summary-totalizers.cart-totalizers.pull-right {
    width: 100%;
    margin: 0;
  	padding: 0;
}
.coupon.summary-coupon {
    margin: 39px 0 25px !important;
    border-bottom: 1px solid #D2D2D2;
}
.coupon.summary-coupon .coupon-label label {
    font-size: 16px;
    color: #444444;
    margin-bottom: 11px;
}
p.coupon-fields span {
    width: 100%;
}
p.coupon-fields {
    position: relative;
}
p.coupon-fields #cart-coupon {
    width: 100%;
    height: 50px;
    border-radius: unset;
    border: 2px solid #D2D2D2;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 12px;
    color: #555555;
    font-style: italic;
    letter-spacing: 0.1em;
    box-sizing: border-box;
}
button#cart-coupon-add {
    position: absolute;
    border: 0;
    box-shadow: unset;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    right: 17px;
    top: 8px;
    font-size: 35px;
    color: #202020;
    background: unset;
    padding: 0;
}
input#ship-postalCode::-webkit-input-placeholder,
input#cart-coupon::-webkit-input-placeholder{
    color: #555555;
}
input#ship-postalCode:-moz-placeholder,
input#cart-coupon:-moz-placeholder{
    /* Firefox 18- */
    color: #555555;
}
input#ship-postalCode::-moz-placeholder,
input#cart-coupon::-moz-placeholder{
   	/* Firefox 19+ */
	color: #555555;
}
input#ship-postalCode:-ms-input-placeholder,
input#cart-coupon:-ms-input-placeholder{
    color: #555555;
}
tbody.totalizers-list {
    display: none;
}
.span5.totalizers.summary-totalizers.cart-totalizers.pull-right .accordion-group .table tfoot tr {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.span5.totalizers.summary-totalizers.cart-totalizers.pull-right .accordion-group .table tfoot tr .info {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #444444;
}
.full-cart .summary-totalizers .monetary {
    font-size: 20px;
    letter-spacing: 0.01em;
    color: #202020;
    font-weight: 600;
}
.clearfix.pull-right.cart-links.cart-links-bottom.hide {
    display: flex !important;
    flex-direction: column-reverse;
    align-items: center;
}
a#cart-to-orderform {
    width: 100%;
    height: 50px;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
span.btn-place-order-wrapper {
    width: 100%;
}
a#cart-choose-more-products {
    margin: 0;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #202020;
    display: flex;
    align-items: center;
}
a#cart-choose-more-products i {
    margin-right: 10px;
    font-size: 22px;
}







nav {
    background: #202020;
    height: 80px;
    display: flex;
    align-items: center;
}
nav .box.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-voltar {
    color: #FFFFFF;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
}
.link-voltar i {
  font-size: 25px;
  text-decoration: none !important;
}
a.link-voltar:hover {
    text-decoration: underline;
    color: #FFFFFF;
}
span.voltar {
    margin-left: 10px;
}
footer {
    background: #202020;
    height: 120px;
    width: 100%;
    position: absolute;
    bottom: 0;
  	display: flex;
    align-items: center;
}
footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  	height: 100%;
}
footer .direitos {
    font-size: 12px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
footer h4 {
    font-size: 16px !important;
    letter-spacing: 0.02em;
    color: #ffffff !important;
  	margin: 0 !important;
}
footer ul.pagamentos {
    display: flex;
    list-style-type: none;
  	margin: 0 !important;
}
footer .box.links {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 25px 0;
    box-sizing: border-box;
}
