section.newsletter {
  margin-top: 180px;
  margin-bottom: 80px;
  .content {
    max-width: 604px;
    font-family: $fonte01;
    text-align: center;
    color: #444444;
    h1 {
      letter-spacing: 0.2em;
      font-size: 13px;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 30px;
      color: #000;
      margin-bottom: 70px;
    }
    p {
      font-size: 15.5px;
      margin-bottom: 50px;
      line-height: 22px;
    }
    .newsletter-inputs {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      margin: 0 auto;
      position: relative;
      .newsletter-select {
        position: relative;
      }
      .newsletter-select::after {
        content: "\f078";
        font-family: "FontAwesome";
        position: absolute;
        font-size: 18px;
        right: 16px;
        top: 16px;
        pointer-events: none;
      }
      select,
      input {
        margin-bottom: 14px;
        width: 100%;
        height: 50px;
        padding-left: 21px;
        color: #202020;
        font-size: 15px;
        letter-spacing: 0.02em;
        border: 1px solid #d2d2d2;
        box-sizing: border-box;
      }
      select {
        -webkit-appearance: none;
        cursor: pointer;
      }
      input {
        font-style: italic;
      }
      .concordo-input {
        display: flex;
        justify-content: flex-end;
        margin-top: 31px;
        input {
          display: none;
        }
        input[type="checkbox"] + label::before {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          left: 0;
          bottom: 0;
          border: solid 2px;
          vertical-align: bottom;
          box-sizing: border-box;
        }

        input[type="checkbox"]:checked + label::after {
          content: "";
          position: absolute;
          left: 7px;
          bottom: 7px;
          width: 4px;
          height: 7px;
          border-right: solid 2px #202020;
          border-bottom: solid 2px #202020;
          transform: rotate(45deg);
        }
        label {
          color: #444444;
          font-size: 12px;
          letter-spacing: 0.02em;
          cursor: pointer;
          strong {
            color: red;
          }
        }
      }
    }
    button {
      margin: 31px auto;
      height: 50px;
      width: 400px;
      display: flex;
      justify-content: center;
      align-content: center;
      font-size: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #202020;
      border: none;
      cursor: pointer;
    }
  }
}
