section.faq {
  margin-top: 180px;
  margin-bottom: 80px;
  .content {
    max-width: 910px;
    font-family: $fonte01;
    .busca {
      height: 152px;
      font-family: $fonte01;
      background-color: #202020;
      text-align: center;
      margin-bottom: 25px;
      h1 {
        padding: 25px 0 25px;
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: #ffffff;
      }
      .input-busca {
        width: 424px;
        margin: 0 auto;
        position: relative;
        input {
          width: 424px;
          height: 44px;
          font-family: $fonte01;
          font-size: 13px;
          letter-spacing: 0.02em;
          padding-left: 13px;
          border: none;
          outline: none;
        }
        .fa-search {
          position: absolute;
          top: 12px;
          right: 5px;
          font-size: 23px;
          cursor: pointer;
        }
      }
    }
    .topicos-buscadas {
      display: flex;
      font-family: $fonte01;
    }
    .topicos {
      margin-right: 43px;
      h1,
      h2 {
        font-size: 15px;
        letter-spacing: 0.01em;
        color: #202020;
        font-weight: bold;
      }
      h1 {
        margin-bottom: 25px;
      }
      .topicos-conteudo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 42px;
        .topico {
          margin: 0 auto;
          h2 {
            margin: 5px 0 55px;
            text-align: center;
            cursor: pointer;
          }
          img {
            cursor: pointer;
          }
        }
      }
    }
    .buscadas {
      h1 {
        margin-bottom: 25px;
        font-weight: bold;
      }
      .buscadas-conteudo {
        display: flex;
        flex-direction: column;
        a {
          color: #555555;
          font-size: 15px;
          letter-spacing: 0.01em;
          margin-bottom: 30px;
          text-decoration: underline;
        }
      }
    }
    .result-topicos {
      .result-topico {
        font-family: $fonte01;
        display: grid;
        grid-template-columns: 2.745fr 1fr;
        .result-topico-box:nth-child(1) {
          margin-right: 22px;
        }
        .result-topico-box1 {
          .links {
            font-size: 12px;
            color: #202020;
            letter-spacing: 0.02em;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            i {
              font-size: 25px;
              margin-right: 15px;
              cursor: pointer;
            }
            span {
              text-decoration: underline;
              margin-right: 20px;
              cursor: pointer;
            }
            span:nth-child(4) {
              cursor: unset;
            }
          }
          .perguntas {
            font-family: $fonte01;
            max-width: 645px;
            border-bottom: 1px solid #d2d2d2;
            position: relative;
            .perguntas-title {
              display: flex;
              align-items: center;
              font-size: 16px;
              font-weight: bold;
              letter-spacing: 0.01em;
              color: #202020;
              min-height: 67px;
              cursor: pointer;
            }
            .perguntas-icon {
              position: absolute;
              top: 23px;
              right: 30px;
              cursor: pointer;
              .icon-column,
              .icon-row {
                width: 15px;
                height: 2px;
                border-radius: 1px;
                background-color: #444444;
              }
              .icon-column {
                transform: rotate(90deg);
                transition: transform 800ms ease, -webkit-transform 800ms ease;
              }
              .icon-column.active {
                transform: rotate(360deg);
              }
              .icon-row {
                display: block;
                transform: translateY(-6px);
                transition: opacity 266ms ease;
              }
            }
            .perguntas-links {
              padding-bottom: 24px;
              display: none;
              .box-links {
                display: flex;
                flex-direction: column;
                a {
                  color: #555555;
                  font-size: 14px;
                  line-height: 140%;
                  letter-spacing: 0.01em;
                  margin-bottom: 10px;
                }
              }
            }
          }
        }
      }
    }
    .result-respostas {
      font-family: $fonte01;
      font-size: 16px;
      line-height: 27px;
      letter-spacing: 0.01em;
      font-weight: bold;
      color: #202020;
      .links {
        font-size: 12px;
        color: #202020;
        letter-spacing: 0.02em;
        display: flex;
        margin-bottom: 20px;
        i {
          font-size: 25px;
          margin-right: 15px;
          cursor: pointer;
        }
        span {
          text-decoration: underline;
          margin-right: 20px;
          cursor: pointer;
        }
        span:nth-child(5) {
          cursor: unset;
        }
      }
      .resposta {
        margin: 25px 0 40px;
        font-size: 14px;
        line-height: 140%;
        font-weight: normal;
        color: #555555;
      }
      .util {
        min-height: 67px;
        border-top: 1px solid #d2d2d2;
        border-bottom: 1px solid #d2d2d2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .util-btn {
          display: flex;
          .btn {
            width: 120px;
            height: 28px;
            padding-top: 4px;
            border: 1px solid #202020;
            margin-left: 20px;
            text-align: center;
            font-size: 11px;
            color: #202020;
            cursor: pointer;
          }
        }
      }
      .fale-conosco {
        min-height: 67px;
        border-bottom: 1px solid #d2d2d2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 80px;
        .fale-conosco-btn {
          width: 260px;
          height: 28px;
          padding-top: 4px;
          border: 1px solid #202020;
          text-align: center;
          font-size: 11px;
          color: #202020;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
    .result-busca {
      .links {
        font-size: 12px;
        color: #202020;
        letter-spacing: 0.02em;
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        i {
          font-size: 25px;
          margin-right: 15px;
          cursor: pointer;
        }
        span {
          text-decoration: underline;
          margin-right: 20px;
          cursor: pointer;
        }
        span:nth-child(5) {
          cursor: unset;
        }
      }
      h1 {
        margin-bottom: 30px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.01em;
        color: #202020;
      }
      .box-links {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        a {
          color: #555555;
          font-size: 14px;
          line-height: 140%;
          letter-spacing: 0.01em;
          margin-bottom: 10px;
        }
      }
      .fale-conosco {
        min-height: 67px;
        border-bottom: 1px solid #d2d2d2;
        border-top: 1px solid #d2d2d2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 80px;
        margin-top: 60px;
        h1 {
          margin-bottom: unset;
        }
        .fale-conosco-btn {
          width: 260px;
          height: 28px;
          padding-top: 4px;
          border: 1px solid #202020;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 11px;
          color: #202020;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  section.faq {
    .content {
      .busca {
        .input-busca {
          width: 80%;
          input {
            width: 80%;
          }
          .fa-search {
            right: 45px;
          }
        }
      }
      .topicos-buscadas {
        flex-direction: column;
      }
      h1 {
        text-align: center;
      }
      .topicos {
        margin-right: 0px;
        .topicos-conteudo {
          grid-template-columns: 1fr;
        }
      }
      .result-topicos {
        .result-topico {
          grid-template-columns: 1fr;
          row-gap: 20px;
          .result-topico-box1 {
            padding: 0 30px;
          }
        }
      }
      .result-respostas {
        padding: 0 30px;
        .util {
          flex-direction: column;
          padding: 15px 0;
        }
        .fale-conosco {
          flex-direction: column;
          padding: 15px 0;
        }
      }
      .result-busca {
        padding: 0 30px;
        text-align: center;
        .fale-conosco {
          flex-direction: column;
          padding: 15px 0;
          margin-top: 10px;
        }
      }
      .buscadas {
        .buscadas-conteudo {
          text-align: center;
        }
      }
    }
  }
}
