.fullbanner-home {
  .arrow.slick-arrow {
    top: 49.14%;
  }
  ul.slick-dots {
    top: 87.43%;
  }
  .box-banner {
    .banner-button {
      top: 60.86% !important;
    }
  }
}

section.pitchbar {
  font-family: $fonte01;
  margin: 60px 0 40px;
  .content {
    display: flex;
    .pitch {
      display: flex;
      align-items: center;
      height: 28px;
      padding: 0 22px;
      border-right: 1px solid #d2d2d2;
      img {
        height: 18px;
      }
      h1 {
        text-align: center;
        margin-left: 20px;
      }
    }
    .first {
      padding: 0 26px 0 0;
    }
    .last {
      padding: 0 0 0 22px;
      border-right: unset;
    }
  }
  @media (max-width: 950px) {
    margin: 30px 0 30px;
    .content {
      flex-direction: column;
      .first {
        padding: 0 22px;
        h1 {
          margin-left: 12px;
        }
      }
      .pitch {
        h1 {
          font-size: 12px;
        }
      }
    }
  }
}

section.banner-categorias {
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 23px;
    font-family: $fonte01;
    .categoria {
      position: relative;
      h1,
      .lni-plus,
      .lni-close {
        position: absolute;
      }
      h1 {
        top: 45%;
        width: 100%;
        text-align: center;
        font-size: 22px;
        letter-spacing: 0.01em;
        color: #ffffff;
      }
      .lni-plus {
        bottom: 22px;
        right: 20px;
        font-size: 28px;
        color: #ffffff;
        cursor: pointer;
      }
      .lni-close {
        bottom: 26px;
        right: 24px;
        font-size: 20px;
        color: #ffffff;
        cursor: pointer;
        display: none;
      }
      .over-categoria {
        width: 280px;
        height: 280px;
        position: absolute;
        background: linear-gradient(0deg, rgba(32, 32, 32, 0.7), rgba(32, 32, 32, 0.7));
        padding: 75px 30px;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        display: none;
        a {
          font-family: $fonte01;
          color: #ffffff;
          font-size: 15px;
          letter-spacing: 0.01em;
        }
        a:nth-child(2) {
          margin: 25px 0;
        }
      }
    }
  }
  @media (max-width: 950px) {
    .content {
      grid-template-columns: 1fr;
      row-gap: 13px;
      .categoria {
        margin: 0 auto;
      }
    }
  }
}

section.card-produto {
  margin: 80px 0;
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 786px;
      margin: 0 auto;
    }
    .box-text {
      position: absolute;
      font-family: $fonte01;
      color: #ffffff;
      text-align: center;
      h1 {
        font-size: 13px;
        letter-spacing: 0.2em;
        margin-bottom: 21px;
      }
      p {
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0.01em;
        margin-bottom: 19px;
      }
      .btn-compre {
        width: 275px;
        height: 50px;
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        cursor: pointer;
        outline: none;
        text-decoration: none;
        color: #fff;
        margin: 0 auto;
      }
    }
  }
  @media (max-width: 950px) {
    .content {
      img {
        width: 100%;
      }
      .box-text {
        h1 {
          margin-bottom: 10px;
        }
        p {
          font-size: 15px;
          line-height: unset;
          margin-bottom: 10px;
        }
      }
    }
  }
}

section.products-home {
  padding: 60px 0;
  background-color: #f2f2f2;
}

.home {
  section.magazine-banner-todas {
    padding: 80px 30px;
    background-color: #f2f2f2;
    .titles {
      max-width: 1190px;
      margin: 0 auto;
      position: relative;
      box-sizing: border-box;
      font-family: $fonte01;
      margin-bottom: 25px;
      display: flex;
      justify-content: space-between;
      color: #202020;
      .title {
        h1 {
          font-size: 12px;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          margin-bottom: 10px;
        }
        h2 {
          font-size: 22px;
          letter-spacing: 0.05em;
        }
      }
      a {
        color: #202020;
        display: flex;
        align-items: flex-end;
        text-decoration: underline;
      }
    }
  }
  section.banner-product2 {
    box-sizing: border-box;
    margin-top: 80px;
    .content {
      .products {
        .icon-img {
          width: unset;
          margin: unset;
        }
        .prateleira {
          font-family: $fonte01;
          color: #202020;
          letter-spacing: 0.01em;
          ul li figure .estoque-produto {
            display: none;
          }
        }
      }
      .banner-topo {
        .title {
          h1 {
            font-size: 12px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            margin-bottom: 10px;
          }
          h2 {
            font-size: 22px;
            letter-spacing: 0.05em;
          }
        }
        a {
          display: flex;
          align-items: flex-end;
          text-decoration: underline;
          padding-right: 16px;
        }
      }
    }
    @media (max-width: 950px) {
      .banner-topo {
        a {
          margin: 10px auto 0;
        }
      }
      .products {
        .product {
          max-width: 320px;
        }
        .slick-list.draggable {
          width: 260px;
          margin: 0 auto;
        }
        .setas-slide {
          .slick-list {
            margin: 0 auto;
            max-width: 260px;
          }
        }
      }
    }
    @media (max-width: 950px) {
      .setas-slide .arrow.next.slick-arrow,
      .setas-slide .arrow.prev.slick-arrow {
        border: 1px solid #202020;
        color: unset;
      }
    }
  }
}

.setas-slide {
  .slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }

  .slick-list {
    position: relative;

    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .slick-list:focus {
    outline: none;
  }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }

  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .slick-track:before,
  .slick-track:after {
    display: table;

    content: "";
  }
  .slick-track:after {
    clear: both;
  }
  .slick-loading .slick-track {
    visibility: hidden;
  }

  [dir="rtl"] .slick-slide {
    float: right;
  }
  .slick-slide img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .slick-slide.slick-loading img {
    display: none;
  }
  .slick-slide.dragging img {
    pointer-events: none;
  }
  .slick-initialized .slick-slide {
    display: block;
  }
  .slick-loading .slick-slide {
    visibility: hidden;
  }
  .slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
    display: none;
  }

  .arrow.prev.slick-arrow,
  .arrow.next.slick-arrow {
    top: 50%;
    width: 80px;
    height: 80px;
    border: 1px solid #202020;
    color: #585858;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow.prev.slick-arrow {
    left: -100px;
  }
  .arrow.next.slick-arrow {
    right: -100px;
  }
  .arrow.slick-arrow {
    position: absolute;
    color: #fff;
    z-index: 1;
    top: calc(49.14% - 135px);
    font-size: 36px;
    cursor: pointer;
  }
  ul.slick-dots {
    display: flex;
    position: absolute;
    bottom: calc(9% + 255px);
    right: calc(50% - 31%);
    li button {
      background: none;
      border: 1px solid #fff;
      border-radius: 100%;
      color: transparent;
      padding: 0;
      width: 10px;
      height: 10px;
      margin-left: 25px;
      cursor: pointer;
      outline: none;
    }
    li.slick-active button {
      background-color: #fff;
    }
  }

  @media (max-width: 950px) {
    .arrow.next.slick-arrow {
      right: 10px;
    }
    .arrow.prev.slick-arrow {
      left: 10px;
    }
    .arrow.next.slick-arrow,
    .arrow.prev.slick-arrow {
      width: 30px;
      height: 30px;
      border: 1px solid #ffffff;
      color: #ffffff;
      font-size: 24px;
    }
  }
}
