section.banner-principal {
  .box-banner {
    position: relative;
    p {
      font-family: $fonte01;
      max-width: 786px;
      font-size: 15px;
      line-height: 27px;
      color: #444444;
      margin: 60px auto;
      padding: 0 30px;
      text-align: justify;
      min-height: 140px;
      strong {
        font-weight: 600;
      }
    }
    .banner-button {
      position: absolute;
      color: #fff;
      bottom: calc(9% + 255px);
      left: 19%;
      font-family: $fonte01;
      line-height: 40px;
      h1 {
        font-size: 42px;
        margin-bottom: 10px;
      }
      h3 {
        font-size: 15px;
        margin: 0 0 34px;
      }
      .banner-btn {
        width: 275px;
        height: 50px;
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        cursor: pointer;
        outline: none;
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.arrow.prev.slick-arrow {
  left: 19%;
}
.arrow.next.slick-arrow {
  right: 19%;
}
.arrow.slick-arrow {
  position: absolute;
  color: #fff;
  z-index: 1;
  top: calc(49.14% - 135px);
  font-size: 36px;
  cursor: pointer;
}
ul.slick-dots {
  display: flex;
  position: absolute;
  bottom: calc(9% + 255px);
  right: calc(50% - 31%);
  li button {
    background: none;
    border: 1px solid #fff;
    border-radius: 100%;
    color: transparent;
    padding: 0;
    width: 10px;
    height: 10px;
    margin-left: 25px;
    cursor: pointer;
    outline: none;
  }
  li.slick-active button {
    background-color: #fff;
  }
}

section.banner-player-video {
  .player-video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    img {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 20;
      cursor: pointer;
    }
  }
  .player-video:after {
    content: "";
    display: block;
    background: url(/arquivos/play-video.png) no-repeat 0 0;
    position: absolute;
    left: calc(50% - 42.5px);
    top: calc(50% - 42.5px);
    border: none;
    border-radius: 100%;
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 30;
    outline: none;
  }
  .player-video.player img {
    display: none;
  }
  .player-video.player:after {
    display: none;
  }
}

section.pessoa {
  p {
    font-family: $fonte01;
    max-width: 786px;
    font-size: 15px;
    line-height: 27px;
    color: #444444;
    margin: 60px auto;
    padding: 0 30px;
    strong {
      font-weight: 600;
    }
  }
  p:nth-child(3) {
    font-size: 42px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.01em;
    margin: 116px auto;
    font-style: italic;
    color: #757575;
  }
  .pessoa-img {
    display: grid;
    grid-template-areas:
      "img001 img002"
      "img003 img003"
      "img004 img005";
    justify-content: center;
    column-gap: 7%;
    row-gap: 1.5%;
    padding: 0 30px;
    img {
      max-height: 800px;
      max-width: 100%;
    }
    img:nth-child(3) {
      margin: 0 auto;
    }
    .img001 {
      grid-area: img001;
    }
    .img002 {
      grid-area: img002;
    }
    .img003 {
      grid-area: img003;
    }
    .img004 {
      grid-area: img004;
    }
    .img005 {
      grid-area: img005;
    }
  }
}

section.card {
  background-color: #f2f2f2;
  padding: 120px 0;
  margin-bottom: 100px;
  .content {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #ffffff;
    .card-img {
      img {
        width: 100%;
      }
    }
    .card-text {
      font-family: $fonte01;
      margin: 15% 0 0 8%;
      color: #202020;
      h2 {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        margin-bottom: 14px;
      }
      h1 {
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 0.05em;
        margin-bottom: 30px;
      }
      p {
        max-width: 380px;
        font-size: 15px;
        line-height: 27px;
        letter-spacing: 0.05em;
        color: #444444;
        margin-bottom: 20px;
      }
      a {
        outline: none;
        text-decoration-line: underline;
        color: #202020;
        font-size: 15px;
        line-height: 32px;
      }
    }
  }
}

section.loja-proxima {
  margin-bottom: 100px;
  .content {
    position: relative;
    display: flex;
    justify-content: center;
    .loja-proxima-content {
      position: absolute;
      z-index: 1;
      top: 140px;
      font-family: $fonte01;
      color: #202020;
      h1 {
        font-size: 13px;
        line-height: 11px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        margin-bottom: 21px;
      }
      p {
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.01em;
        margin-bottom: 49px;
      }
      .loja-proxima-btn {
        margin: 0 auto;
        width: 275px;
        height: 50px;
        border: solid 1px #202020;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        outline: none;
        text-decoration: none;
        color: #202020;
      }
    }
  }
  @media (max-width: 950px) {
    .content {
      align-items: center;
      img {
        width: 100%;
      }
      .loja-proxima-content {
        top: unset;
        h1 {
          margin-bottom: 10px;
        }
        p {
          font-size: 15px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.fullbanner-landing2 {
  .arrow.slick-arrow {
    top: 49.14%;
  }
  ul.slick-dots {
    top: 87.43%;
  }
  .box-banner {
    .banner-button {
      top: 60.86% !important;
    }
  }
}

section.conecte {
  margin: 60px 0;
  .content {
    background-color: #202020;
    min-height: 440px;
    padding: 45px 101px;
    display: grid;
    grid-template-columns: 50% 50%;
    .conecte-conta {
      border-right: 2px solid #585858;
      font-family: $fonte01;
      color: #ffffff;
      padding-right: 111px;
      text-align: center;
      h1 {
        margin: 45px 0 14.11px;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
      }
      h2 {
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 0.05em;
        margin-bottom: 20.16px;
      }
      p {
        font-size: 15px;
        line-height: 27px;
        letter-spacing: 0.05em;
        margin-bottom: 31.94px;
      }
      .conecte-conta-btn-crie {
        width: 383px;
        height: 50px;
        background-color: #ffffff;
        color: #202020;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 27.94px;
        text-decoration: none;
        outline: none;
      }
      .conecte-conta-btn-acesse {
        font-size: 15px;
        line-height: 32px;
        letter-spacing: 0.05em;
        text-decoration-line: underline;
        outline: none;
        color: #ffffff;
        margin: 0 auto;
      }
    }
    .conecte-novidades {
      font-family: $fonte01;
      color: #ffffff;
      padding-left: 111px;
      text-align: center;
      h1 {
        margin: 45px 0 14.11px;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
      }
      h2 {
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 0.05em;
        margin-bottom: 20.16px;
      }
      p {
        font-size: 15px;
        line-height: 27px;
        letter-spacing: 0.05em;
        margin-bottom: 31.94px;
      }
      .novidades-btn {
        position: relative;
      }
      .conecte-novidades-email {
        width: 383px;
        height: 50px;
        padding-left: 20px;
        color: #ffffff;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        display: flex;
        margin-bottom: 27.94px;
        outline: none;
        box-sizing: border-box;
        border: 1px solid #ffffff;
        background-color: #202020;
      }
      .conecte-novidades-email::-webkit-input-placeholder,
      .conecte-novidades-email:-moz-placeholder,
      .conecte-novidades-email::-moz-placeholder,
      .conecte-novidades-email:-ms-input-placeholder {
        color: #ffffff;
      }
      button {
        background: none;
        border: none;
        position: absolute;
        color: #ffffff;
        top: 6px;
        right: 2%;
        font-size: 35px;
        outline: none;
        cursor: pointer;
      }
      ::-webkit-input-placeholder {
        color: #ffffff;
      }

      :-moz-placeholder {
        /* Firefox 18- */
        color: #ffffff;
      }

      ::-moz-placeholder {
        /* Firefox 19+ */
        color: #ffffff;
      }

      :-ms-input-placeholder {
        color: #ffffff;
      }
      .conecte-novidades-btn {
        font-size: 12px;
        line-height: 32px;
        letter-spacing: 0.05em;
        color: #ffffff;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 950px) {
  section.banner-principal {
    .box-banner {
      .banner-button {
        display: none;
      }
    }
  }
  ul.slick-dots {
    display: flex;
    position: absolute;
    bottom: calc(12% + 255px);
  }
  .arrow.slick-arrow {
    top: calc(45.14% - 135px);
  }
  section.card .content {
    grid-template-columns: 100%;
    .card-text {
      margin: 8% 8%;
    }
  }
  section.pessoa p:nth-child(3) {
    font-size: 25px;
  }
  section.conecte .content {
    grid-template-columns: 100%;
    padding: 0 30px;
    height: unset;
    .conecte-conta {
      padding-right: unset;
      border-right: unset;
      border-bottom: 2px solid #585858;
      padding-bottom: 15px;
      .conecte-conta-btn-crie {
        margin: 0 auto 27px;
        width: 80%;
      }
    }
    .conecte-novidades {
      padding-left: unset;
      .conecte-novidades-btn {
        margin: 0 auto 20px;
      }
      .conecte-novidades-email {
        margin: 0 auto 27px;
        width: 80%;
      }
      button {
        right: 12%;
      }
    }
  }
}
