section.banner-principal-historia {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 654px;
  .text {
    position: absolute;
    top: 59%;
    font-family: $fonte01;
    color: #ffffff;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    h2 {
      font-size: 13px;
      letter-spacing: 0.2em;
      margin-bottom: 1.3%;
    }
    h1 {
      font-size: 42px;
      line-height: 56px;
      margin-bottom: 1.3%;
    }
    p {
      font-size: 15px;
      line-height: 27px;
      margin-bottom: 2%;
    }
  }
}

section.card-text {
  margin: 80px 0;
  padding: 0 30px;
  .box-text {
    font-family: $fonte01;
    font-size: 15px;
    line-height: 27px;
    color: #444444;
    max-width: 785px;
    margin: 0 auto;
    h1 {
      font-weight: 600;
      margin-bottom: 20px;
    }
  }
}

section.card-imgs1 {
  .box-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 120px;
    row-gap: 80px;
    img {
      width: 100%;
    }
  }
}

section.card-phrases {
  margin-top: 80px;
  padding: 0 30px;
  .box-phrases {
    font-family: $fonte01;
    color: #444444;
    max-width: 785px;
    margin: 0 auto;
    p {
      font-size: 42px;
      line-height: 140%;
      letter-spacing: 0.01em;
      font-style: italic;
      margin-bottom: 40px;
    }
    span {
      font-size: 16px;
      line-height: 27px;
    }
  }
}

section.card-imgs2 {
  .box-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    img {
      width: 100%;
    }
  }
}

section.whats-list {
  .box-whats {
    max-width: 584px;
    padding: 0 30px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}

.magazine-historia {
  section.banner-product2 {
    .content {
      .products {
        .prateleira {
          ul li figure .estoque-produto {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 950px) {
  section.banner-principal-historia {
    height: 250px;
    .text {
      top: 25%;
      h2 {
        font-size: 11px;
        margin-bottom: 3%;
      }
      h1 {
        font-size: 25px;
        line-height: 32px;
      }
      p {
        font-size: 12px;
        padding: 10px;
      }
    }
  }
  section.card-imgs1 {
    .box-img {
      grid-template-columns: 1fr;
      padding: 0 30px;
    }
  }
  section.card-phrases {
    .box-phrases {
      p {
        font-size: 25px;
      }
    }
  }
  section.card-imgs2 {
    .box-img {
      grid-template-columns: 1fr;
      padding: 0 30px;
    }
  }
}
