section.termos-condicoes {
  margin-top: 180px;
  margin-bottom: 80px;
  .content {
    font-family: $fonte01;
    display: flex;
    h1 {
      font-size: 19px;
      color: #202020;
      font-weight: 600;
    }
    .termos-titles {
      min-width: 282px;
      h1 {
        margin-bottom: 30px;
      }
      .title {
        padding-left: 10px;
        font-size: 14px;
        letter-spacing: 0.01em;
        color: #444444;
        height: 47px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #d2d2d2;
        cursor: pointer;
      }
      .title:nth-child(2) {
        border-top: 1px solid #d2d2d2;
      }
      .title.active {
        font-weight: 600;
      }
    }
    .termos-contents {
      margin-left: 23px;
      width: 100%;
      .text {
        display: none;
        .first-title {
          margin-bottom: 30px;
        }
      }
      .text.active {
        display: block;
      }
      .text-topic {
        border-bottom: 1px solid #d2d2d2;
        width: 100%;
        h1 {
          font-size: 15px;
          letter-spacing: 0.01em;
          height: 47px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-right: 20px;
          cursor: pointer;
          i {
            font-size: 18px;
          }
          i.active {
            display: none;
          }
        }
        p {
          font-size: 14px;
          line-height: 140%;
          letter-spacing: 0.01em;
          color: #444444;
          padding: 30px 0 40px;
          display: none;
          strong {
            font-weight: 600;
          }
        }
        p.active {
          display: block;
        }
      }
      .text-topic:nth-child(2) {
        border-top: 1px solid #d2d2d2;
      }
    }
  }
}

@media (max-width: 950px) {
  section.termos-condicoes {
    .content {
      flex-direction: column;
      padding: 0 30px;
      .termos-contents {
        margin-left: 0;
        margin-top: 50px;
      }
    }
  }
}
