body.vitrines {
  .box.filtro {
    margin-top: 160px;
    .menu-departamento {
      .menu-navegue {
        display: none;
      }
      .search-single-navigator {
        font-family: $fonte01;
        font-size: 12px;
        color: #202020;
        display: flex !important;
        align-items: center;
        i {
          font-size: 25px;
          margin-right: 15px;
          cursor: pointer;
          text-decoration: none !important;
        }
        .voltar {
          text-decoration: underline;
          margin-right: 20px;
          cursor: pointer;
        }
        h3 {
          padding-right: 10px;
          margin-right: 10px;
          a {
            color: #202020;
            text-decoration: underline;
          }
        }
      }
    }
  }
  section.banner-product2 {
    .products {
      .main {
        position: relative;
        margin-top: 20px;
        .sub {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      .searchResultsTime {
        .resultado-busca-termo,
        .resultado-busca-tempo {
          display: none;
        }
        .resultado-busca-numero {
          display: flex;
          flex-direction: row-reverse;
          width: max-content;
          font-family: $fonte01;
          font-size: 15px;
          letter-spacing: 0.02em;
          color: #202020;
          .value {
            margin-right: 5px;
          }
        }
      }
      .resultado-busca-filtro {
        font-family: $fonte01;
        font-size: 15px;
        letter-spacing: 0.02em;
        color: #202020;
        .filterBy,
        .compare {
          display: none;
        }
        fieldset.orderBy {
          position: relative;
          width: 200px;
          cursor: pointer;
          label {
            position: absolute;
            pointer-events: none;
            right: 50px;
          }
          select {
            border: 0;
            -webkit-appearance: none;
            width: 100%;
            outline: none;
            cursor: pointer;
            color: transparent;
            option {
                color: #202020;
            }
          }
        }
        fieldset.orderBy:after {
          content: "\f078";
          font-family: "FontAwesome";
          position: absolute;
          font-size: 15px;
          right: 16px;
          top: 0;
          pointer-events: none;
        }
        fieldset.orderBy.active:after {
          content: "\f077";
        }
      }
      .prateleira > :first-child {
        display: flex;
        justify-content: space-between;
      }
      .prateleira {
        display: flex;
        flex-direction: column;
        ul {
          li {
            margin: 30px 0px;
            width: 389px;
            figure {
              position: relative;
              .estoque-produto {
                position: absolute;
                bottom: 15px;
                right: 15px;
                font-family: $fonte01;
                font-size: 11px;
                letter-spacing: 0.01em;
                color: #444444;
                .bolinha {
                  margin-left: 25px;
                }
                .bolinha:before {
                  content: "";
                  width: 12px;
                  height: 12px;
                  background-color: #008000;
                  border-radius: 50%;
                  display: inline-block;
                  position: absolute;
                  right: 3px;
                  top: -1px;
                  z-index: 2;
                }
                .bolinha:after {
                  content: "";
                  height: 16px;
                  width: 16px;
                  background-color: #fff;
                  border: 1px solid #444;
                  border-radius: 50%;
                  display: inline-block;
                  position: absolute;
                  top: -4px;
                  right: 0;
                  z-index: 1;
                  opacity: 0.6;
                }
                .bolinha.indisponivel:before {
                  background-color: #b22222;
                }
              }
            }
          }
        }
      }
      .main {
        p:nth-child(4) {
          display: none;
        }
        div:nth-child(5) {
          display: none;
        }
        .vitrine {
          .pager.top,
          .pager.bottom {
            display: none;
          }
        }
      }
    }
  }
}
